services:
  redis:
    image: redis:7-alpine
    container_name: redis_agents
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: redis-server --requirepass ${REDIS_PASSWORD}

  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    environment:
      # Definindo as credenciais diretamente no container
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=meu_banco
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  redis_data:
  postgres_data:
